<nav class="navbar navbar-expand-lg bg-dark">
  <!-- <a class="navbar-toggler" type="button" data-toggle="collapse"></a> -->
  <div>
    <ul class="navbar-nav mx-auto">
      <li>
        <a routerLink="/user" routerLinkActive="active">Users</a>
        <a routerLink="/userdata" routerLinkActive="active">Userdata</a>
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>